.picker .input {
  display: none;
}

.controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.picker .button {
  border: 0;
  padding: 0.5rem 1.5rem;
  background: #a4abb9;
  border-radius: 3px;
  cursor: pointer;
  font: inherit;
}

.picker .button:hover,
.picker .button:active {
  background: #b3b9c6;
}